* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 16px solid rgb(28, 119, 10);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#46beee, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1s infinite linear;
    height: 112px;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px dashed black;
    background-color: white;
    text-align: center;
    width: 250px;
    height: 150px;
    display: none;
    transform: translate(-50%, -50%);
}

.game-over > p {
    margin: 15px;
    font-size: 25px;
    font-family: monospace;
}

.retry {
    background: none;
	color: inherit;
	padding: 3px 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 15px;
    font-size: 20px;
    font-family: monospace;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump {
    animation: jump 500ms infinite ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%
    }
}
